---
---

@import "variables";
@import "notices";
@import "text";

html {
  font-size: 100%;
}

body {
  background: $white;
  font-family: $sans-font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66666666667;
  color: $darkGray;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  flex-direction: column;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 15px;

  @media (max-width:900px) {
    margin-bottom: 0;
    font-size: 12px;
  }
}

li {
  margin-top: 5px;
}
li > p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 60%;
  padding: 0 10px;
  width: 100%;

  @include mobile {
    max-width: none;
  }
  @media (max-width:900px) {
    max-width: 90%;
  }
}

.category {
  width: 14%;
  display: inline-block;
  margin: 2% 3%;
  text-align: center;
  vertical-align: top;

  @media (max-width:900px) {
    display: none;
  }
}
a.category-link {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 6% 0;
  text-decoration: none;

  &:visited, &:link, &:hover {
    color: $mediumGray;
    text-decoration: none;
  }
}

.content {
  display: inline-block;
  max-width: 60%;
  padding: 0 10px;
  width: 100%;

  @include mobile {
    max-width: none;
    padding: 0 20px;
  }
  @media (max-width:900px) {
    max-width: 90%;
    padding: 0 20px;
    display: block;
    margin: auto;
  }
}
.post-container {
  flex: 1 0 auto;
  width: 100%;
}
p.title {
  font-size: 30px;
  font-weight: bold;

  @media (max-width:900px) {
    font-size: 20px;
  }
}
div.post-title {
  background-color: $postGray;
  padding: 3%;
  border-radius: 15px;
  margin: 2% -5px 4%;
}

.entry {
  .notice,
  .notice-primary,
  .notice-info,
  .notice-warning,
  .notice-success,
  .notice-danger {
    color: $textColor;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 15px;
  color: $darkerGray;
  font-family: $sans-font-family;
  font-weight: 700;
  line-height: 1.66666666667;

  a {
    border-bottom: none !important;
  }

  @media (max-width:900px) {
    margin: 1em 0 5px;
  }
}
h1 {
  font-size: 30px;
  margin: 1em 0 10px;
  border-bottom: $lightGray 0.1em solid;
  a {
    color: inherit;
  }
  @media (max-width:900px) {
    font-size: 16px;
  }
}

h2 {
  font-size: 28px;
  @media (max-width:900px) {
    font-size: 15px;
  }
}

h3 {
  font-size: 24px;
  margin: 1em 0 10px !important;
  @media (max-width:900px) {
    font-size: 14px;
  }
}

h4 {
  font-size: 20px;
  margin: 25px 0 15px;
  @media (max-width:900px) {
    font-size: 13px;
  }
}

h5 {
  margin: 10px 0;
  font-size: 18px;
  @media (max-width:900px) {
    font-size: 12px;
  }
}

h6 {
  font-size: 16px;
  @media (max-width:900px) {
    font-size: 11px;
  }
}

small, .text_small {
  font-size: 14px;
  @media (max-width:900px) {
    font-size: 10px;
  }
}

a {
  color: $darkGray;
  text-decoration: none;

  &:visited, &:link {
    color: $darkGray;
    text-decoration: none;
  }

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

span.light-blue {
  color: $lightBlue;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;

  @media (max-width:900px) {
    padding-left: 15px;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
  @media (max-width:900px) {
    font-size: 12px;
  }
}

ul ul, ol ul {
  list-style-type: circle;
}
em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;

  @media (max-width:900px) {
    font-size: 11px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  display: block;
  margin: auto;
}

ul.task-list {
  list-style-type: none;
  margin-left: -1.5em;
}
input.task-list-item-checkbox {
  margin: 0 0.5em;
}
ul.task-list > ul {
  list-style-type: none;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 14px !important;
}

.gmnoprint img {
  max-width: none;
}

hr {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 01px solid $lightGray;
}
.post-option {
  display: inline-block;
  text-align: right;

  @media (max-width:900px) {
    font-size: 12px;
  }
}
.date {
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  color: $gray;
}

.post-categories {
  display: inline-block;
  font-weight: bold;
  color: $gray;
  margin-top: 15px;

  .categories-button {
    display: inline-block;
    text-align: center;
    border: 01px solid $paleGray;
    border-radius: 03px;
    background: #ffffff;
    font-weight: 400;
    color: $gray;
    font-size: 16px !important;
    white-space: nowrap;
    text-decoration: none;
    padding: 06px 12px;
    margin-right: 04px;
    cursor: pointer;
    user-select: none;
    transition: .4s;
  }

  .categories-button:hover {
    color: $darkGray;
    text-decoration: underline;
  }

  .categories-button:visited {
    color: inherit;
  }
}
.side-category {
  //margin-top: 2em;

  h5 {
    margin: 15px 10px;
  }
}

.post-reference {
  background-color: $postGray;
  padding: 2% 3% 3%;
  margin: 7% 0;
  border-radius: 5px;

  p {
    font-size: 20px;
    margin-bottom: 5px;

    @media (max-width:900px) {
      font-size: 13px !important;
    }
  }
  a {
    font-size: 16px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0 20px;
    border-bottom: none !important;

    @media (max-width:900px) {
      font-size: 11px !important;
    }
  }
}
.contact {
  width: 100%;
  text-align: center;

  .contact-icon {
    display: inline-block;
    margin: 0.6em 0.6em;
  }
  a {
    color: $mediumGray;
  }
  .email span {
    vertical-align: -webkit-baseline-middle;
    margin-left: 5px;
  }
  .github {
    vertical-align: -webkit-baseline-middle;
  }
  .github span {
    vertical-align: text-bottom;
    margin-left: 5px;
  }

  @media (max-width:900px) {
    font-size: 11px;
  }
}
.fa-github:before {
  padding-top: 5px;
}

.share-post {
  isolation: isolate;
  font-weight: bold;
  color: $gray;
  margin-top: 15px;
  }

.no-comments {
  font-weight: bold;
  color: $gray;
  margin-top: 15px;
}

.related-posts {
  margin-top:30px;

  .related-posts-heading{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: $gray;
  }
}

.related-posts-post {
  margin-bottom: auto;
}

.post-nav {
  font-size: 18px !important;
  margin-top:30px;
  clear: both;

    p {
      .post-nav-label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: $gray;
      }

      &:first-child {
        padding-right: auto;
        float: left;
      }

      &:last-child {
        padding-left: auto;
        float: right;
      }
    }
}

.category-head {
  font-weight: bold;
  //font-style: italic;
  color: $listColor;
}

.archive-item {
  a:visited, a:link, a:hover {
    color: $gray;
    text-decoration: none;
    border-bottom: 1px $gray dotted !important;
  }
  h6 {
    padding: 0;
    margin: 0;
  }
  ul {
    margin: 10px;
  }
}

.tag-list {
  width: 90%;
  text-align: center;
  margin: auto;

  ul {
    list-style: none;
    margin: 40px 0 !important;
    font-size: 17px;

    @media (max-width:900px) {
      font-size: 12px !important;
    }
  }
  li {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: $tagClor; // FF7F50FF
    border-radius: 10px;
  }
  a {
    color: $white !important;
    font-weight: bold;
  }
}

.archive-tag {
  width: 90%;
  text-align: center;
  margin: auto;
  //height: 380px;
  //outline: 0.5px solid $mediumGray;
  //border-radius: 10px;
  //overflow-y: auto;

  ul {
    list-style: none;
  }
}

::-moz-selection {
  color: $white;
  background: $blue;
}
::selection {
  color: $white;
  background: $blue;
}

blockquote {
  background-color: $white;
  color: $gray;
  border-left: 04px solid #eeeeee;
  padding-left: 15px;
  font-size: 17px !important;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}

pre,
code {
  font-family: $code-font-family !important;
  font-size: 16px !important;
  color: $darkerGray;
  border: 01px solid #dddddd;
  border-radius: 03px;
  background-color: $codeBaseColor;

  @media (max-width:900px) {
    font-size: 10px !important;
  }
}

code {
  padding: 1px 03.55px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

  @media (max-width:900px) {
    padding: 4px 0px;
  }
}

[class^="language-"] {
  code {
    font-size: 14px !important;

    @media (max-width:900px) {
      font-size: 10px !important;
    }
  }
}

.highlight {
  isolation: isolate;  
  border-radius: 03px;
  background: $codeBaseColor;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $codeBaseColor;
  }
}

.language-plaintext {
  color: $deepOrangeColor !important;
  background: $shortCodeColor !important;
}

.rouge-table {
  margin-bottom: 0;
  font-size: 100%;

  &,
  td,
  th {
    border: none;
    text-align: left;
    padding: 0px;
  }

  .gutter {
    vertical-align: top;
    user-select: none;
    opacity: .25;
  }
}

.gist .gist-file {
  isolation: isolate;
  font-family: $code-font-family !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 16px !important;
}
.gist code {
  isolation: isolate;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

table {
  margin-bottom: 30px;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  border: 01px solid #dddddd;
  
  & + table {
    margin-top: 30px;
  }
  
  tr {
    &:nth-child(even) {
      background-color: #efefef;
    }
  }
  
  th, td {
    padding: 10px 15px;
  }
  
  th {
    background-color: #efefef;
    border: 01px solid #dddddd;
  }
  
  td {
    border: 01px solid #dddddd;
  }
  
  tr,
  td,
  th {
    vertical-align: middle;
    text-align: center;
  }

  @media (max-width:900px) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: 0.1rem;
  font-weight: bold;
}

.footnotes {
  margin-top: 15px;
  font-size: 14px !important;
}

.hidden,
[hidden] {
  display: none !important;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  //margin-bottom: 50px;
}

.masthead {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 01px solid $lightGray;

  @media (max-width:900px) {
    width: 100%;
    padding: 10px 0;

    .site-info {
      display: inline-block;
    }
    .nav-menu {
      float: right;
    }
  }
}

.site-avatar {
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    width: 40px;
    height: 40px;
    float: none;
    display: block;
    margin: 0 auto;
  }
  @media (max-width:900px) {
    width: 60px;
    height: 60px;
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 03px;
  }
}

.site-info {
  flex: 1;
  align-self: flex-start;

  @media (max-width:900px) {
    float: none;
    display: block;
    margin: 15px 10px;
  }
}

article > h1 {
  border: none;
}

.site-name {
  margin: 0;
  color: $darkGray;
  font-family: $sans-font-family;
  font-weight: 300;
  font-size: 28px !important;
  letter-spacing: 01px;
  border: none;

  a {
    &:hover {
      color: $mahogany !important;
      text-decoration: none;
    }
    &:visited {
      color: inherit;
    }
    @media (max-width:900px) {
      display: none;
    }
  }

}

.site-description {
  margin: -05px 0 0 0;
  color: $gray;
  font-size: 16px !important;

  @include mobile {
    display: none;
  }
  @media (max-width:900px) {
    font-size: 18px !important;
    margin: 0 10px;
  }
}

nav {
  font-family: $sans-font-family;
  font-size: 18px !important;

  @include mobile {
    float: none;
    margin-top: 09px;
    display: block;
    font-size: 10px !important;
  }
  @media (max-width:900px) {
    float: none;
    margin-top: 09px;
    display: block;
    font-size: 15px !important;
  }

  a {
    margin: 0 10px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 01px;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
    &:visited {
      color: inherit;
    }
    @include mobile{
      margin: 0 5px;
    }
  }
}

.nav-menu-item.active,
a.nav-menu-item:focus {
  text-decoration: none;
  color: $mahogany;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  }

.clearfix:after {
  clear: both;
  }

//
// .mainnotice-list
//

.posts > .post {
  border: 1px #f0f0f1 solid !important;
  border-radius: 30px;
  padding: 10px 1.5em;
  margin: 15px 0px;

  @include mobile {
    border-radius: 20px;
    padding: 5px 15px;
    margin: 10px 0px;
  }
  @media (max-width:900px) {
    border-radius: 25px;
    padding: 15px 20px;
    margin: 15px 0px;
  }

  .entry {
    font-size: 14px;
    @media (max-width:900px) {
      font-size: 12px;
    }
  }

  h1 {
    margin: 5px 0 0 !important;
  }
  h2, h3, h4, h5, h6 {
    margin: 0 !important;
  }
  blockquote, p {
    margin: 7px 0 7px !important;
  }

  h1 {
    font-size: 22px;
    @media (max-width:900px) {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 20px;
    @media (max-width:900px) {
      font-size: 13px;
    }
  }
  h3 {
    font-size: 18px;
    @media (max-width:900px) {
      font-size: 12px;
    }
  }
  h4 {
    font-size: 15px;
    @media (max-width:900px) {
      font-size: 11px;
    }
  }
  h5 {
    font-size: 11px;
    @media (max-width:900px) {
      font-size: 10px;
    }
  }
  h6 {
    font-size: 9px;
    @media (max-width:900px) {
      font-size: 9px;
    }
  }
  small, .text_small {
    font-size: 10px;
    @media (max-width:900px) {
      font-size: 8px;
    }
  }
  p, blockquote, pre, ul, ol, dl, figure {
    font-size: 14px;
    @media (max-width:900px) {
      font-size: 9px;
    }
  }

  .notice-list a {
    font-size: 12px;

    &:visited, &:link, &:hover {
      color: $darkGray;
      text-decoration: none;
      border-bottom: 1px dotted $mediumGray;
      pointer-events : none;
      cursor: default;
    }

    @media (max-width:900px) {
      font-size: 9px;
    }
  }
}

.posts > .post:last-child {
  padding-bottom: 01em;
  border-bottom: none;
}
.posts {
  h3, h4 {
    margin: 0;
  }
}

.post {
  .comments {
    margin-top: 10px;
  }
  a {
    &:visited, &:link {
      color: $darkGray;
      text-decoration: none;
      border-bottom: 1px dotted $mediumGray;
    }

    &:hover {
      color: $blue;
      text-decoration: none;
      border-bottom: 1px solid $blue;
    }
  }

  .read-more {
    text-transform: uppercase;
    font-size: 14px !important;
    color: $mahogany;
    border-bottom: none !important;

    @media (max-width:900px) {
      font-size: 10px !important;
    }

    a {
      color: $mahogany;
      text-decoration: none;
    }

    &:visited, &:link {
      color: $mahogany;
    }

    &:hover {
      color: $mahogany;
      text-decoration: underline;
    }
  }

  .reading-time {padding: 10px 1.5em;
    text-transform: uppercase;  
    font-size: 14px !important;
    color: $mahogany;

    @media (max-width:900px) {
      font-size: 10px !important;
    }
  }
}

.wrapper-footer {
  margin-top: 30px;
  border-top: 01px solid #ddd;
  border-bottom: 01px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;

  .social-icons {
    margin-bottom: 08px;
  }

  .social-icon {
    display: inline-block;
    padding: 0 04px;
    color: $gray;
    
      &:hover {
      color: $darkGray;
      }
  }
}

.copyright {
  font-size: 14px !important;

  p {
    margin: 0;
    padding: 0;

    @media (max-width:900px) {
      font-size: 8px !important;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "message";
@import "share-buttons";
@import "spotify-embed";
@import "syntax";
@import "pagination";
@import "map";
@import "search";
@import "video";
@import "mermaid";
