
@mixin notice($noticeColor) {
  margin: 1.2em 0 !important;
  padding: 1em;
  color: $darkGray;
  font-size: 0.80em !important;
  text-indent: initial;
  background-color: mix(#fff, $noticeColor, 90%);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba($noticeColor, 0.25);

  h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
    line-height: inherit;
  }

  @at-root .entry #{&} h4 {
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  h4 + p {
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: $noticeColor;

    &:hover {
      color: mix(#000, $noticeColor, 40%);
    }
  }

  code {
    background-color: mix(#fff, $noticeColor, 95%)
  }

	pre code {
		background-color: inherit;
	}

  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notice {
  @include notice($paleGray);
}

.notice-basic {
  @include notice($basicColor);
}

.notice-primary {
  @include notice($primaryColor);
}

.notice-info {
  @include notice($infoColor);
}

.notice-warning {
  @include notice($warningColor);
}

.notice-success {
  @include notice($successColor);
}

.notice-danger {
  @include notice($dangerColor);
}
