/* Background Color */
@mixin bg($bgColor) {
  font-size: 18px;
  font-weight: 400;
  background-color: $bgColor;
  padding: 1px 5px;
  border-radius: 4px;

  @media (max-width:900px) {
    font-size: 12px;
    padding: 0 3px;
  }
}

.outline {
  font-size: 17px;
  border: 0.1px $mediumGray solid;

  @media (max-width:900px) {
    font-size: 12px;
  }
}

.bg-gray {
  @include bg($bgGrayColor);
}

.bg-lg {
  @include bg($postGray);
}

.bg-old {
  @include bg($oldlaceColor);
}

.bg-ly {
  @include bg($lightYellowColor);
}

.bg-rose {
  @include bg($roseColor);
}

.bg-orange {
  @include bg($bgOrangeColor);
}
.bg-green {
  @include bg($bgGreenColor);
}

.bg-mint {
  @include bg($mintColor);
}

.bg-blue {
  @include bg($bgBlueColor);
}

.bg-sky {
  @include bg($bgSkyColor);
}

.bg-violet {
  @include bg($bgVioletColor);
}

.bg-lavender {
  @include bg($lavenderColor);
}

.bg-pink {
  @include bg($bgPinkColor);
}


/* Font Color */
@mixin color($fontColor) {
  color: $fontColor;
  font-weight: 400;
}

.color-red {
  @include color($redColor);
}

.color-green {
  @include color($greenColor);
}

.color-blue {
  @include color($blueColor);
}

.color-sky {
  @include color($skyColor);
}

.color-orange {
  @include color($orangeColor);
}

.color-violet {
  @include color($violetColor);
}

.color-navy {
  @include color($navyColor);
}

.color-brown {
  @include color($brownColor);
}


/* Table */
.table-basic {
  width: 80%;
  font-size: 15px;

  thead th {
    background-color: oldlace;
  }

  tr, td {
    background-color: white;
  }

  @media (max-width:900px) {
    font-size: 10px;
  }
}


/* Font Size */
[class^="font-"] {
  font-weight: 400;
  padding: 0;
}
.font-17 {
  font-size: 17px;
}
.font-16 {
  font-size: 16px;
}
.font-15 {
  font-size: 15px;
}
.font-14 {
  font-size: 14px;
}


/* Custom List Style */
.no-marker {
  margin: 10px 0 0;
  list-style-type: none;
}

.indent {
  margin-left: 30px;
}
.no-indent {
  margin-left: -30px;
}

[class^="marker-"] {
  margin: 0 0 0 -15px;
  text-indent: -10px;
  list-style-type: none;
}
.marker-dash {
  li::before {
    content: " - ";
  }
}
.marker-one {
  li::before {
    content: " 1) ";
  }
}
.marker-two {
  li::before {
    content: " 2) ";
  }
}
.marker-three {
  li::before {
    content: " 3) ";
  }
}
.marker-four {
  li::before {
    content: " 4) ";
  }
}
.marker-five {
  li::before {
    content: " 5) ";
  }
}
.marker-six {
  li::before {
    content: " 6) ";
  }
}
.marker-seven {
  li::before {
    content: " 7) ";
  }
}
.marker-eight {
  li::before {
    content: " 8) ";
  }
}
.marker-nine {
  li::before {
    content: " 9) ";
  }
}
.marker-ten {
  li::before {
    content: " 10) ";
  }
}

/* Custom Before Style */
@mixin content($iconStyle) {
  content: $iconStyle;
}

[class^="pre"] {
  font-weight: 400;
}

.pre-square::before {
  @include content("▪ ");
}

.pre-result::before {
  @include content("→ ");
}
.pre-arrow::before {
  @include content("➡︎ ");
  padding-right: 4px;
}
.pre-pin::before {
  @include content("📍︎ ");
  padding-right: 4px;
}
.pre-bulb::before {
  @include content("💡 ");
  padding-right: 4px;
}


/* Custom Margin Style */
.mb-10 {
  margin-bottom: 10px;
}

/* Custom Text Style */
[class^="case-"] {
  font-size: 15px;
  font-weight: 400;
  padding: 2px 5px;
  border-radius: 4px;

  @media (max-width:900px) {
    font-size: 10px;
  }
}

.case-eg {
  text-indent: -8px;
  margin: -5px 0 0 8px;
  padding: 0 5px 5px 15px;
  background-color: $egColor;
}
.case-eg.indent, .indent.case-eg {
  margin-left: 30px;
}
.case-eg::before {
  content: ("- ");
}

.case-link {
  background-color: $lightGray;
}
.case-link::before {
  content: ("→ ");
}

.underline {
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
}
.bold {
  font-weight: bold;
}

.blank {
  list-style-type: none;
  height: 20px;
}
.blank.none {
  height: 0px;
}
.blank.small {
  height: 5px;
}
.blank.half {
  height: 10px;
}