/* Background Color */
@mixin bg($bgColor) {
  padding: 2px 5px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 4px;
  background-color: $bgColor;
  border: 0.1px $mediumGray solid;
}

.bg-gray {
  @include bg($postGray);
}

.bg-ly {
  @include bg($lightYellowColor);
}

.bg-rose {
  @include bg($roseColor);
}

.bg-mint {
  @include bg($mintColor);
}

.bg-lavender {
  @include bg($lavenderColor);
}


/* Font Color */
@mixin color($fontColor) {
  color: $fontColor;
  font-weight: 400;
}

.color-red {
  @include color($redColor);
}

.color-green {
  @include color($greenColor);
}

.color-blue {
  @include color($blueColor);
}

.color-sky {
  @include color($skyColor);
}

.color-orange {
  @include color($orangeColor);
}

.color-violet {
  @include color($violetColor);
}

.color-navy {
  @include color($navyColor);
}

.color-brown {
  @include color($brownColor);
}

/* Custom List Style */
.blank {
  list-style-type: none;
  height: 30px;
}

.no-marker {
  margin: 10px 0 0;
  list-style-type: none;
}

.no-indent {
  margin-left: -30px;
}

.marker-dash {
  margin: 0 0 0 -15px;
  text-indent: -10px;
  list-style-type: none;

  ::before {
    content: " - ";
  }
}


/* Custom Before Style */
@mixin content($iconStyle) {
  content: $iconStyle;
}

[class^="pre"] {
  font-weight: 400;
}

.pre-square::before {
  @include content("▪ ");
}

.pre-arrow-1::before {
  @include content("→ ");
}
.pre-arrow-2::before {
  @include content("➡︎  ");
}


/* Custom Text Style */
.bg-eg {
  font-size: 15px;
  font-weight: 400;
  background-color: $lightGray;
  padding: 2px 5px;
  border-radius: 4px;
}
.bg-eg::before {
  content: " ➔ ";
}

.bg-result {
  font-size: 17px;
  font-weight: 400;
  background-color: $oldlaceColor;
  padding: 2px 5px;
  border-radius: 4px;
}
.bg-result::before {
  content: " ➔ ";
}

.underline {
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
}
.bold {
  font-weight: bold;
}