@charset "utf-8";

//
// VARIABLES
//

// Colors
$white: #FFFFFF;
$black: #000000;
$gray: #666666;
$lightGray: #EEEEEE;
$paleGray: #DDDDDD;
$postGray: #F8F9FA;
$mediumGray: #AAAAAA;
$darkGray: #333333;
$darkerGray: #222222;
$lightBlue: #569fe7;
$blue: #4183C4;
$purple: #4141C4;
$mahogany: #BD2C00;
$lightPink: #D797C1FF;

$textColor: #000;
$listColor: #5F9EA0;
$basicColor: #ffdd00;
$infoColor: #3b9cba;
$primaryColor: #fabbe4;
$successColor: #3fa63f;
$warningColor: #d67f05;
$dangerColor: #ee5f5b;

$codeBaseColor: #fbfcfd;
$oldlaceColor: #FDF5E6;

/* https://www.w3schools.com/cssref/css_colors.asp */
$redColor: #B22222;
$brownColor: #A0522D;
$greenColor: #2E8B57;
$navyColor: #191970;
$blueColor: #1E90FF;
$orangeColor: #FF8C00;
$skyColor: #00BFFF;
$violetColor: #9932CC;
$lightYellowColor: #FFFFE0;
$roseColor: #FFE4E1;
$mintColor: #eefff8;
$lavenderColor: #E6E6FA;


// Pagination colors
$pagination-color: $darkGray;
$pagination-hover-color: $blue;
$pagination-active-bg: $blue;
$pagination-active-color: $white;
$pagination-separator-color: $paleGray;

// Font stacks
$sans-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, "Helvetica Neue", Helvetica, "Noto Sans", Arial, sans-serif;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Transitions
$time: 250ms;
