---
layout: default
---

<article class="post">
  <div class="post-title">

    <p class="title">{{ page.title }}</p>

    <div class="post-option">
      <!--<div class="post-categories">
        <i class="fa fa-tags fa-fw" aria-hidden="true"></i>&nbsp;Tags:&nbsp;
        {% if post %}
        {% assign categories = post.categories %}
        {% else %}
        {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <a class="categories-button"<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}{% endunless %}
        {% endfor %}
      </div>-->
      <div class="date">
        <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;Date: {{ page.date | date: "%Y-%m-%d" }}
      </div>
    </div>
  </div>

  <div class="entry">
    {{ content }}
  </div>

</article>
